data/*

!data/processed/
!data/raw/

!data/processed/.gitkeep
!data/raw/.gitkeep

models/*
!models/.gitkeep

logs/*
!logs/.gitkeep

mlflow/*

!mlflow/experiments
!mlflow/models

!mlflow/experiments/.gitkeep
!mlflow/models/.gitkeep

__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
pipenv/
*.egg-info/
dist/
build/
.ipynb_checkpoints/
.env
.venv
.vscode/
.idea/
.DS_Store
Thumbs.db